.container {
  width: 900px;
  height: 1000px;
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: linear-gradient(-225deg, #5d9fff 0%, #b8dcff 48%, #6bbbff 100%);
  border-radius: 30px;
  box-shadow: 10px 10px 19px -8px rgb(0 0 0 / 75%);
}

.header {
  max-width: 90%;
  margin: 0 auto;
  height: 800px;
}

.today {
  background-color: #fdffab;
  width: 450px;
  height: 450px;
  float: left;
  margin: 70px 0 0 70px;
  border-radius: 50%;
  box-shadow: 10px 10px 19px -8px rgb(0 0 0 / 75%);
}

.today-text {
  margin: 80px;
}

.today-text h1 {
  font-size: 40px;
  margin-bottom: 0px;
  text-transform: capitalize;
}

.today-text h2,
h3 {
  font-size: 25px;
  font-weight: 400;
}

.today-text h2 {
  margin-block-end: 0;
}

.celsius-fahrenheit {
  font-size: 20px;
}

.today-text h3 {
  margin-top: 0;
}

.today-date p {
  margin: 10px;
}

.weather-emoji {
  font-size: 6em;
  text-align: center;
}

.search-city {
  background-color: #ffd3b6;
  width: 180px;
  height: 180px;
  float: right;
  margin: 500px 70px 70px 0;
  border-radius: 50%;
  box-shadow: 10px 10px 19px -8px rgb(0 0 0 / 75%);
}

.search-city form {
  position: relative;
  left: 27px;
  bottom: -75px;
}

.search-city label {
  font-size: 20px;
  position: relative;
  left: 45px;
  bottom: -45px;
}

.search-city input {
  height: 27px;
  width: 120px;
}

.day {
  aspect-ratio: 1/1;
  float: left;
  width: 20%;
  background-color: #ffaaa5;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  box-shadow: 10px 10px 19px -8px rgb(0 0 0 / 75%);
}

.day-forecast {
  margin-top: 25px;
}

.emoji {
  font-size: 3em;
}
